
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oxygen, sans-serif;
  font-weight: 300;
}
body {
  display: flex;
}

main {
  width: 100%;
  display: flex;
  margin-left: 320px;
}

/* ----- sidebar ------ */

aside {
  box-shadow: 0 0 10 10 black;
  height: 100vh;
  width: 320px;
  border: gray 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #51768C;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.aside__logo {
  font-size: 30px;
  margin-top: 20px;
}

.aside__logo-fit {
  font-weight: 700;
}

.aside__welcome {
  font-size: 20px;
  margin-top: 40px;
}

.aside__date {
  font-size: 12px;
  margin-top: 10px;
}

.aside-user-info-container {
  margin-top: 50px;
  width: 90%;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.user-label {
  border-bottom: 1px solid lightgray;
  font-size: 14px;
  color: rgba(255,255,255,0.6);
}

.user-info {
  font-size: 14px;
}

/* widget */


.widget {
  border: 1px solid gray;
  height: auto;
  width: 95%;
  border-radius: 5px;
  margin: 10px;
  background-color: #fff;
}

.main__column-one,
.main__column-two {
  width: 50%;
  max-width: 750px;
}

.widget-main-header {
  padding: 7px;
  font-weight: 400;
  font-size: 16px;
}

.widget-header {
  font-size: 15px;
  padding: 7px;
}

.steps__daily-goal-table {
  display: block;
  margin-left: 130px;
  margin-bottom: 10px;
}

.steps__daily-goal-table,
.steps__daily-goal-input {
  width: 70%;
}

table, td, th {
  border-collapse: collapse;
}
th, td {
  text-align: left;
}

th {
  font-size: 14px;
}
.user-input {
  font-size: 30px;
  font-weight: 700;
}

.unit {
  font-size: 12px;
  color: gray;
}

/* water consumed */

.single-input {
  text-align: center;
}

.weekly-table {
  margin-bottom: 10px;
  margin-top: 15px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.water-consumed__daily-th,
.hours-slept__daily-th {
  border-bottom: 1px solid lightgray;
}

.weekly-table-data {
  text-align: center;
}

.water-consumed__daily-td,
.hours-slept__daily-td {
  padding-top: 5px;
}

.water-consumed__past-seven-days-header,
.hours-slept__past-seven-days-header {
  margin-top: 10px;
}

.hours_slept_inner-data-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.hours_slept_inner-data-one,
.hours_slept_inner-data-two{
  margin-left: 15px;
  margin-right: 15px;
  width: 50%;
}

.center-hand-align {
  text-align: center;
  padding-bottom: 5px;
  width: 30%;
}

.hours-slept__today-table {
  margin-top: 20px;
}

.today-activities-table {
  width: 90%;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

.green {
  border: #548C72 1px solid;
  color: #548C72;
  background-color: rgba(84, 140, 114, 0.05)
}

.green-b {
  background-color:  #548C72;
  color: #fff;
  border: 1px solid #548C72;
}

.blue {
  border: #4E8BBF 1px solid;
  color : #4E8BBF;
  background-color: rgba(78, 139, 191, 0.05)
}

.blue-b {
  background-color: #4E8BBF;
  color : #fff;
  border: 1px solid #4E8BBF;
}

.red {
  border: #D96459 1px solid;
  color : #D96459;
  background-color: rgba(217, 100, 89, 0.05)
}

.red-b {
  background-color: #D96459;
  color : #fff;
  border: 1px solid #D96459;
}

.yellow {
  border: #edc63d 1px solid;
  color : #edc63d;
  background-color: rgba(237, 198, 61, 0.05);
}

.yellow-b {
  background-color: #edc63d;
  color : #fff;
  border: 1px solid #edc63d;
}

.extra-height {
  height: 60px;
}

.today-activities-compare-table {
  width: 95%;
  margin-left: 15px;
}

.text-aling-center {
  text-align: center;
}

.text-aling-left {
  text-align: left;
}

.text-aling-right {
  text-align: right;
  padding-top: 5px;
}

.tr-hiehgt-30 {
  height: 40px;
  border-bottom: 1px solid lightgray;
}


@media only screen and (max-width: 1400px) {
  .steps-against-friends-table {
    font-size: 0.9em;
  }
  .steps__daily-goal-table {
    width: 60%;
  }

  .user-input {
    font-size: 1em;
  }
}